body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #005146;
  margin: 50px; /* Adjust the margin as needed to control the border size */
  padding: 50px; /* Add some padding inside the border to separate the content */
  border: 5px solid #11b843; /* Border style and color */
  border-radius: 15px; /* Add rounded corners to the border */
  box-shadow: 0 0 30px rgba(170, 233, 239, 0.888);
}

.top-frame {
  background-color: #038257;
  color: #fcfffb;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: cursive;
}

.top-frame img {
  max-height: 100px;
  margin-right: 20px;
}

.top-frame h1 {
  font-size: 38px;
  margin: 10px;
}

.ribbon {
  background-color: #e4fdd7;

  display: flex;
  justify-content: center;
}

.ribbon ul {
  list-style-type: none;
  padding: 10px;
  margin: 10px;
}



.ribbon a {
  display: block;
  padding: 5px 15px;
  text-decoration: none;
  color: #294427;
  font-size: 18px;
  font-weight: bold;
  margin: 0 10px;
}

.ribbon a:hover {
  background-color: #c3e0ff;
}

.left-frame {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  color: cornsilk;
  align-items: center;
  text-align: center;
  justify-content: center;
  
 
}

.left-frame video{
  padding-top: 25px;
  padding-bottom: 45px;
}

.left-frame img{
  max-width: 900px;
  max-height: 5''00px;
  padding-top: 25px;
  padding-bottom: 50px;
}


.right-frame {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  color: #f6a84f;
  font-style: normal;
  font-family:sans-serif;
  font-size: medium;
  text-align:center;
}

.right-frame h2{
  color:#e4fdd7;
  font-style: oblique;
  padding-top: 30px;
  
  
}
.right-frame h3,p {
  color: cornsilk;
}
.exercise li{
  padding-top:15px;
  text-align: center;
  list-style-type: none;
}

.exercise img{
  max-height: 500px;
  max-width: 1100px; /* To ensure the image fits within the container */
  margin-bottom: 10px; /* Add some spacing below the image */
  margin-top: 30px;  
}

.food li{
  padding-top: 20px;
  text-align: center;
  margin-bottom: 50px; 
  list-style-type: none;
}

.food img {
  max-height: 500px;
  max-width: 1100px; /* To ensure the image fits within the container */
  margin-bottom: 10px; /* Add some spacing below the image */
} 

video {
  max-width: 100%;
}

.form{
  color: cornsilk;
  padding-top: 20px;
  color: #f6a84f;
  font-style: normal;
  font-family:sans-serif;
  font-size: medium;
  text-align:center;

}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 50%;
  padding: 5px;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

a {
  text-decoration: none;
  color: #007BFF;
}

a:hover {
  text-decoration: underline;
}
